

/* Editor styles */
.editor-styles-wrapper .wp-block-placy-chapter-wrapper.chapter {
    border: 2px dashed #76908D;
    border-radius: 8px;
    padding: 2rem;
    margin: 1rem auto;
    max-width: 768px;
}
